body {
  font-size: 1em; }

html {
  font-size: 14px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto-Medium.ttf); }

@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf); }

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf); }

.slideshow_thumbs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff; }
  @media (max-width: 992px) {
    .slideshow_thumbs {
      justify-content: space-around; } }

.slideshow_item {
  width: 308px;
  border-radius: 5px;
  position: relative; }
  @media (max-width: 992px) {
    .slideshow_item {
      margin-bottom: 30px; } }

.slideshow_green {
  background: url(../images/Ethereum.png) no-repeat;
  background-size: cover; }

.slideshow_grey {
  background: url(../images/Litecoin.png) no-repeat;
  background-size: cover; }

.slideshow_brown {
  background: url(../images/Bitcoin.png) no-repeat;
  background-size: cover; }

.slideshow_header {
  font-family: Roboto-Bold;
  font-size: 22px;
  text-align: center;
  padding-top: 20px; }

.slideshow_item_price {
  padding: 150px 20px 20px;
  font-family: Roboto-Bold; }

.slideshow_item_price_header {
  font-size: 22px;
  margin-bottom: 16px;
  position: relative; }

.slideshow_item_price_persent {
  font-size: 14px;
  margin-bottom: 10px;
  position: relative;
  color: #ffffff; }

.slideshow_item_price_change {
  font-size: 14px;
  position: relative; }

.slideshow_item_price_change_text {
  opacity: 0.3; }

.slideshow_item_price_count {
  position: absolute;
  font-size: 16px;
  line-height: 18px;
  top: 50%;
  margin-top: -9px;
  right: 0px;
  color: #70c446; }

.slideshow_item_price_amount {
  position: absolute;
  font-size: 21.31px;
  color: #ffffff;
  line-height: 24px;
  top: 50%;
  right: 0;
  margin-top: -9px; }

.slideshow_item_price_persent_range {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 42px;
  height: 15px;
  outline: none;
  top: 50%;
  margin-top: -9px;
  right: 0px;
  border-radius: 10px;
  background: -webkit-linear-gradient(left, #c4c4c4 0%, #c4c4c4 50%, #3eb5f1 25%, #3eb5f1 100%); }

.slideshow_item_price_persent_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: url("../images/ellips.png");
  cursor: pointer;
  border-radius: 50%; }

.slideshow_item_price_persent_range::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: url("../images/ellips.png");
  cursor: pointer;
  border-radius: 50%; }

.slideshow_item_price_persent_range::-ms-thumb {
  width: 24px;
  height: 24px;
  background: url("../images/ellips.png");
  cursor: pointer; }

.slideshow_item_price_persent_range::-ms-fill-lower {
  background: red; }

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none; }

.custom-select {
  position: relative;
  display: inline-block; }

.custom-select-trigger {
  position: relative;
  display: block;
  width: 130px;
  padding: 0 84px 0 22px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 60px;
  background: #1e252b;
  border-radius: 4px;
  border: 1px solid #92e8fe;
  cursor: pointer;
  font-family: Roboto-Light; }

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #92e8fe;
  border-right: 1px solid #92e8fe;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0; }

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%); }

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #92e8fe;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #1e252b;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 10;
  padding: 10px 0; }

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0); }

.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  transition: all .4s ease-in-out; }

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  font-size: 16px;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  transition: all .4s ease-in-out;
  font-family: Roboto-Light; }

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0; }

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px; }

body {
  background: #ccc url("../images/field.png") no-repeat center center fixed;
  background-size: cover; }

.exchanger {
  padding-top: 70px; }

.container {
  max-width: 984px;
  margin: auto;
  width: 100%; }
  .container .title {
    color: #ffffff;
    margin-bottom: 54px;
    padding: 35px 25px;
    border: 1px solid #2b3b45;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 992px) {
      .container .title {
        flex-direction: column;
        justify-content: center; } }
    @media (max-width: 450px) {
      .container .title {
        padding: 10px;
        margin-bottom: 30px; } }
    .container .title_header {
      margin: 0;
      font-size: 26px;
      font-family: Roboto-Bold;
      margin-left: 110px; }
      @media (max-width: 992px) {
        .container .title_header {
          margin-left: 0;
          padding-bottom: 10px; } }
      @media (max-width: 450px) {
        .container .title_header {
          font-size: 20px; } }
    .container .title_select {
      width: 300px;
      max-width: 100%;
      min-height: 54px;
      background-color: #1f272f;
      border: 2px solid #92e8fe;
      border-radius: 5px;
      padding: 24px 0 20px;
      color: #ffffff; }

.red {
  color: red; }
